.navimg{
    height: 75px;
    width: 75px;
}
.alex{
    font-size: x-large; 
    font-weight: bold;
    margin-bottom: 35px;
    text-decoration: none;
    
}
.std
{
    position: absolute;
    top: 40px;
    left:405px;
    font-size: small;
    opacity: 50%;
}
.iq
{
    position: absolute;
    top: 40px;
    left:480px;
    font-size: small;
    opacity: 50%;
}
.nav2
{
 
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
  opacity: 65%;
  font-weight: bolder;

}
.nav2:hover
{
 opacity: 100%;
 text-decoration: underline;
}
.tsicon{
    margin-left: 1230px;
    margin-top: 20px;
}
.angularicon{
width:25px;
height: 25px;
}
li{
    list-style-type: none;
    
}
.fotli{
    color: rgb(95, 93, 93);
    text-decoration: none;
    font-size: smaller;
    opacity: 55%;
    font-weight: 500;
}
ul{
    font-weight: bold;
    color: darkgrey;
}
